@import "./Colors.scss";

.heading {
  height: 25vh;
  font-weight: bold;
  background-color: $smoke-white;
}

.img-section img {
  height: 100%;
  width: 100%;
}

.img-section img:hover {
  opacity: 0.8;
  filter: brightness(70%);
  cursor: pointer;
  transition: 0.3s ease;
}

.img-cicle {
  border-radius: 50%;
  background-size: cover;
  width: 30vh;
  height: 30vh;
}

.d-flex {
  gap: 10vh;
}

.container .brand-logo {
  filter: brightness(100%);
}

.container .brand-logo:hover {
  filter: brightness(0%);
}
