@import "./Colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

#carouselExampleControls h2 {
  font-family: "Great Vibes", cursive;
  font-size: 2.3rem;
}

#carouselExampleControls h1 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.react-multi-carousel-list {
  position: unset !important;
}

#react-carousel {
  display: flex;
  justify-content: center;
}

.card {
  margin-left: "auto";
  margin-right: "auto";
}

.card-title {
  text-align: center;
  color: black;
}

.card-img-top {
  height: 30vh;
  width: auto;
  object-fit: cover;
}
